$bg_color: rgb(246, 246, 246);
@mixin center_divs {
  width: 50%;
  margin: auto;
  padding: 10px;
}
@mixin link {
  text-decoration: none;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

.location {
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 4px 2px rgb(211, 211, 211) inset;
  position: relative;
  width: 100%;
}
.location__block {
  display: flex;
  width: 200px;
  margin: auto;
  gap: 10%;
  justify-content: flex-start;
  align-items: center;
  height: 50px;

  ::before {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
.homePage__card--button {
  background-color: $bg_color;
  height: 270px;
  h1 {
    font-size: 24px;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 40px;
  }
  p {
    width: 90%;
    margin: auto;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
}
section {
  > h1 {
    width: 90%;
    margin: 20px auto;
  }
}
.fonctionnement {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 90%;
  margin: 20px auto;
  margin-bottom: 60px;
  a {
    @include link;
  }
}

.restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 0px;
  background-color: $bg_color;
  padding-bottom: 60px;
  h1 {
    margin: 50px 20px 5px 20px;
  }
  a {
    @include link;
  }
}
