$bg_color: rgb(246, 246, 246);

@mixin center_divs {
  width: 50%;
  margin: auto;
  padding: 10px;
}

@mixin link {
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
  }
}

@mixin input__placehoder--animation {
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.location {
  background-color: rgb(234, 234, 234);
  box-shadow: 0px 4px 2px rgb(211, 211, 211) inset;
  position: relative;
  width: 100%;
}

.location__block {
  display: flex;
  width: 200px;
  margin: auto;
  gap: 8%;
  justify-content: flex-start;
  align-items: center;
  height: 50px;

  >input {
    background-color: rgb(234, 234, 234);
    border: none;

    &::placeholder {
      color: black;
      font-size: 1.1rem;
    }

    &:focus {
      outline: none;
    }

    &:focus::-webkit-input-placeholder {
      @include input__placehoder--animation;
    }
  }

  >label {
    margin-left: 10px;
  }
}

.homePage__card--button {
  background-color: $bg_color;
  height: 270px;

  h1 {
    font-size: 24px;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 40px;
  }

  p {
    width: 90%;
    margin: auto;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
}

section {
  >h2 {
    width: 90%;
    margin: 20px auto;
  }
}

.fonctionnement {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 90%;
  margin: 20px auto;
  margin-bottom: 60px;

  a {
    @include link;
  }
}

.restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 0px;
  background-color: $bg_color;
  padding-bottom: 60px;

  h2 {
    margin: 50px 20px 5px 20px;
  }

  a {
    @include link;
  }
}