//colors
$primary_color: #9356dc;
$secondary_color: #ff79da;
$teritiary_color: #99e2d0;
$bg_color: rgb(246, 246, 246);
$footer__bg--color: rgb(53, 53, 53);
$gradient: linear-gradient(
        90deg,
        $secondary_color,
        rgba(174, 86, 220, 0.9));
//typography
$logo-title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;
